body {
    /* Alignment */
    display: grid;
    grid-template-rows: 20% 60%;
    grid-template-columns: 20% 80% 20%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto ;
    gap: 20px;
    background-color: mediumorchid;
}

.side-action-box {
    /* Alignment */
    grid-column: 1;
    grid-row: 2/3;
    background-color: yellow;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-text {
    /* Alignment */
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    text-align: center;
    background-color: maroon;
    align-items: center;
}

.row {
    /* Alignment */
    grid-column: 2;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: darkcyan;
    min-width: 500px;
    min-height: 250px;
}

.card {
    /* alignment */
    display: flex;
    width: 15%;
    height: 40%;
    background-color: rgb(204, 98, 37);
    margin-left: 1%;
    margin-right: 1%;
}

.face-down:hover {
    /* functionality */
    border: 5px solid rgb(48, 113, 133);
    box-sizing: border-box;
}

.img0 {
    background-image: url('https://i.ibb.co/bb3gFcT/export-1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
}
.img1 {
    background-image: url('https://i.ibb.co/ctZMtZR/export-2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
}
.img2 {
    background-image: url('https://i.ibb.co/MsSZp12/Untitled-Artwork-2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
}
.img3 {
    background-image: url('https://i.ibb.co/C0TLhvS/export-1-1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
}
.img4 {
    background-image: url('https://i.ibb.co/ZTsHNxL/Layer-6.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
}

.face-down {
    background-image: url('https://i.ibb.co/0X2Z2sm/Untitled-Artwork.png');
    border-radius: 10px;
}