body {
    /* Alignment */
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
}

.side-action-box {
    /* Alignment */
    grid-column: 1;
    grid-row: 1/3;
    background-color: yellow;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-text {
    /* Alignment */
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    text-align: center;
    background-color: darkred;
    justify-content: flex-end;
    align-items: center;
}

.row {
    /* Alignment */
    grid-column: 2;
    grid-row: 2/3;
    justify-content: center;
    text-align: center;
}
h1 {
    /* Alignment */
}

h2 {
    /* Alignment */
}

div {
    /* Alignment */
    background-color: darkcyan;
}

#card {
    display: inline-flex;
    width: 17%;
    height: 30%;
    background-color: rgb(204, 98, 37);
}