body {
    display: grid;
    grid-template-rows: 20% 60%;
    grid-template-columns: 20% 80% 20%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto ;
    gap: 20px;
    background-image: url('https://i.ibb.co/m48143w/export-1.png');
}

.side-action-box {
    grid-column: 1;
    grid-row: 2;
    background-color: teal;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 10px;
}

.top-text {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    text-align: center;
    background-color: teal;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 10px;
}

.row {
    grid-column: 2;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: pink;
    min-width: 500px;
    min-height: 250px;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.card {
    display: flex;
    width: 15%;
    height: 40%;
    background-color: rgb(204, 98, 37);
    margin-left: 1%;
    margin-right: 1%;
}

.face-down:hover {
    border: 5px solid rgb(255, 255, 255);
    box-sizing: border-box;
    
}

.img0 {
    background-image: url('https://i.ibb.co/bb3gFcT/export-1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.img1 {
    background-image: url('https://i.ibb.co/ctZMtZR/export-2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.img2 {
    background-image: url('https://i.ibb.co/MsSZp12/Untitled-Artwork-2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.img3 {
    background-image: url('https://i.ibb.co/C0TLhvS/export-1-1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.img4 {
    background-image: url('https://i.ibb.co/ZTsHNxL/Layer-6.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.face-down {
    background-image: url('https://i.ibb.co/0X2Z2sm/Untitled-Artwork.png');
    border-radius: 10px;
    box-shadow: 5px solid rgb(245, 126, 126);
    box-sizing: border-box;
}

.Refresh {
    padding: 50px;
    background-color: tomato;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}