body {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 80%;
    min-height: 100vh;
}

.side-action-box {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.top-text {
    grid-column: 2/2;
    grid-row: 1/3;
    margin: 0;
    text-align: center;
}

.cards {
    margin: 0;
    grid-column: 2/2;
    grid-row: 2/2;
    justify-content: space-evenly;
}
h1 {
    background-color: blue;
}

h2 {
    background-color: crimson;
}

ul {
    background-color: darkcyan;
}